<nav>
  <ul>
    <li><%= link_to "Лента", feed_path, class: "nav-link" %></li>
    <li><%= link_to "Задания", tasks_path, class: "nav-link" %></li>
    <li><%= link_to "Аккаунт", profile_path, class: "nav-link" %></li>
  </ul>
</nav>
